/*样式初始化*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*全局样式变量*/
:root {
  --theme-color: white;
  --theme-text-color: rgb(100, 116, 139);
}

.theme-light {
  --theme-color: white;
  --theme-text-color: rgb(100, 116, 139);
}

.theme-dark {
  --theme-color: rgb(30, 41, 59);
  --theme-text-color: rgb(203, 213, 225);
}

/*项目全局结构*/
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.header {
  flex: 0 0 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: var(--theme-color);
}

.main {
  flex: 1 1 auto;
  background: var(--theme-color);
  color: var(--theme-text-color);
}

.footer {
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--theme-color);
}

/*根据屏幕尺寸对main区域做响应式布局*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*横轴位置由子元素自己去决定*/
  /*align-items: center;*/
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-areas:
      "user control"
      "classify tasks"
      "showboard tasks";
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .user {
    grid-area: user;
  }
  .classify {
    grid-area: classify;
  }
  .showboard {
    grid-area: showboard;
  }
  .control {
    grid-area: control;
  }
  .tasks {
    grid-area: tasks;
  }
  section {
    background: red;
  }
}

/*header区域*/
.header {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title_logo {
  aspect-ratio: 1;
  width: 80px;
}

.header-title_title {
  color: hsla(250, 70%, 60%, 0.8);
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial Narrow";
}

.header-theme {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
}

.header-theme:hover {
  cursor: pointer;
  background: azure;
}

.header-theme-mode {
  display: block;
}

.hidden_header-theme-mode {
  display: none;
}

/*main区域*/
/*user部分*/
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.user-avatar {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background: hsla(250, 70%, 60%, 0.8);
  cursor: pointer;
}

.user-avatar_img {
  position: absolute;
  top: 0;
  left: 0;
  background: aqua;
}

.user-avatar_input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

/*分类控制栏部分*/
.classify {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--theme-color);
}

.classify-type {
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.selected_classify-type {
  color: hsla(250, 100%, 100%, 1);
  background-color: hsla(239, 84%, 67%, 0.9);
}

.selected_classify-type icon {
  fill: hsla(250, 100%, 100%, 1);
}

.showboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 90%;
  height: 160px;
  margin: 20px auto;
  border-radius: 10px;
  color: white;
  background-color: hsla(250, 70%, 60%, 0.8);
}

.showboard-total {
  font-weight: bold;
  font-size: 52px;
}

.control,
.tasks {
  background: var(--theme-color);
  padding: 0 36px;
}

.control-title {
  font-size: 36px;
}

.control-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 48px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.control-search_input {
  border: none;
  outline: none;
  font-size: 24px;
}

.active_control-search {
  outline: solid 3px hsla(250, 70%, 60%, 0.3);
}
